.feature {
  background-color: #fafafa;
  background-image: url('../assets/img/sprite-feature.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 600px;
  border-radius: 3px;
  border: solid 1px #eee;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  height: 45px;
  margin: 2px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  &.feature-sm {
    background-size: 25px 345px;
    height: 30px;
    margin: 0 1px;
    width: 30px;
  }

  &.wifi {
    background-position: 7px -50px;

    &.active {
      background-position: 7px -297px;
    }

    &.feature-sm {
      background-position: 2px 5px;

      &.active {
        background-position: 2px -172px;
      }
    }
  }

  &.dishwasher {
    background-position: 7px -92px;

    &.active {
      background-position: 7px -339px;
    }

    &.feature-sm {
      background-position: 2px -25px;

      &.active {
        background-position: 2px -202px;
      }
    }
  }

  &.parking {
    background-position: 7px -134px;

    &.active {
      background-position: 7px -382px;
    }

    &.feature-sm {
      background-position: 3px -55px;

      &.active {
        background-position: 2px -232px;
      }
    }
  }

  &.washer {
    background-position: 7px -175px;

    &.active {
      background-position: 7px -423px;
    }

    &.feature-sm {
      background-position: 2px -85px;

      &.active {
        background-position: 2px -262px;
      }
    }
  }

  &.elevator {
    background-position: 7px -258px;

    &.active {
      background-position: 7px -505px;
    }

    &.feature-sm {
      background-position: 2px -143px;

      &.active {
        background-position: 2px -321px;
      }
    }
  }

  &.conditioner {
    background-position: 7px -217px;

    &.active {
      background-position: 7px -464px;
    }

    &.feature-sm {
      background-position: 3px -114px;

      &.active {
        background-position: 2px -291px;
      }
    }
  }
}
