@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

$img-size: 70px;

%drop-zone {
  border-radius: 5px;
  border: dashed 1px #c7c7c7;
  color: #999;
  cursor: pointer;
  font-size: 14px;
  height: 70px;
  padding: 10px 10px 5px;
  text-align: center;
  transition: all 0.25s;

  &:hover {
    color: $brand-primary;
  }
}

%btn-remove {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 16px;
  justify-content: center;
  line-height: 0;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 16px;
}

%img-container {
  align-items: center;
  border-radius: 5px;
  display: flex;
  height: $img-size;
  justify-content: center;
  width: $img-size;
}

.ad-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.header {
  padding-bottom: 20px;
  width: 100%;

  &__container {
    width: auto;
  }

  &__info {

    @media (max-width: $screen-xs-max) {
      margin-top: 10px;
    }

    @media (min-width: $screen-sm-min) {
      padding-left: 20px;
      overflow: hidden;
    }
  }

  &__drop-zone {
    @extend %drop-zone;
  }

  &__upload {
    display: flex;

    @media (min-width: $screen-sm-min) {
      float: left;
    }
  }

  &__upload-group {
    display: flex;
    width: 150px;
  }

  &__drop-zone:focus,
  &__upload-input:focus + &__drop-zone {
    color: $brand-primary;
  }
}

.title {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.form-group {
  flex-basis: 25%;
  font-size: 14px;
  padding: 0 8px;

  @media (max-width: $screen-sm-max) {
    flex-basis: 50%;
  }

  &--title,
  &--address,
  &--time,
  &--features,
  &--description,
  &--photos {
    flex-basis: 50%;
    max-width: 50%;
  }

  &--time,
  &--features {

    @media (max-width: $screen-sm-max) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &--description,
  &--photos {

    @media (max-width: $screen-xs-max) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &--submit {
    flex-basis: 100%;
    padding: 40px 0;
    text-align: center;
  }
}

.label {
  display: block;
  font-size: $font-size-base;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 5px;
}

.form-control {
  border: 1px solid #d9d9d3;
  color: #000;
  font: 16px 'Roboto', 'Arial', sans-serif;
}

.ng-invalid.show-error {
  border-color: #ffaa99;
  box-shadow: 0 0 2px 2px #ff6547;
  outline: none;
}

.error-msg {
  color: brown;
  display: none;
  font-size: 12.5px;
  margin-top: 5px;

  &.visible {
    display: block;
  }
}

.time-controls {
  display: flex;
  margin: 0 -8px;
}

.timein-group,
.timeout-group {
  padding: 0 8px;
  width: 50%;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
}

.upload {
  display: flex;
  margin-right: 10px;
  min-height: 70px;
  width: 150px;

  &__input {
    width: auto;
  }

  &__drop-zone {
    @extend %drop-zone;
  }

  &__drop-zone:focus,
  &__input:focus + &__drop-zone {
    color: $brand-primary;
  }
}

.avatar,
.photo {
  margin-right: 10px;

  &,
  &__container {
    @extend %img-container;
  }

  &__container {
    overflow: hidden;
  }

  &__img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  &__btn-remove {
    @extend %btn-remove;
  }
}

.avatar {
  background-color: #dadada;
  max-height: $img-size;
  max-width: $img-size;
  min-width: $img-size;
  position: relative;
  text-align: center;
}

.photo {
  background-color: #e4e4de;
  margin-bottom: 10px;
  position: relative;
}

.features {
  display: flex;
  margin: 5px -2px 0;
}
