@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

.overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  max-width: 100%;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &.visible {

    @media (max-width: $screen-sm-max) {
      display: block;
    }
  }
}

.filters {

  @media (max-width: $screen-sm-max) {
    bottom: 0;
    display: flex;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.35s;
    z-index: 101;
  }

  &.visible {

    @media (max-width: $screen-sm-max) {
      transform: translateX(0);
    }
  }
}

.form {
  @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.5));

  display: flex;
  overflow: auto;
  transition: opacity 300ms ease-in;

  @media (max-width: $screen-xs-max) {
    @include box-shadow(0 3px 9px rgba(0, 0, 0, 0.5));
  }

  @media (max-width: $screen-sm-max) {
    background: rgba(255, 255, 255, 0.75);
    flex-direction: column;
    padding: 15px;
  }

  @media (min-width: $screen-md-min) {
    align-items: center;
    box-shadow: none;
    justify-content: center;
    margin: 0 auto;
    max-width: 960px;
  }
}

.filter {

  @media (max-width: $screen-sm-max) {
    margin-bottom: 10px;
  }

  @media (min-width: $screen-md-min) {
    margin-right: 10px;
  }
}

.select {
  font-size: 14px;
}

.features {
  margin: 0 -1px;
}

.selected-options {
  margin-top: 10px;
}

.selected-filters,
.selected-features {
  display: inline;
  list-style: none;
  padding: 0;
}

.selected-filters {

  &__item {
    display: inline;
  }
}

.selected-filter,
.feature {
  margin: 5px;
}

.selected-filter {
  background: #fff;
  display: inline-flex;
  position: relative;
}

.btn-remove-filter {
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  font-size: 20px;
  height: 18px;
  line-height: 0.25;
  margin: -10px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  z-index: 1;
}

.btn-toggle {
  align-items: center;
  display: flex;

  &__text {
    font-size: 15px;
    margin-left: 6px;
  }
}

.btn-close {
  align-self: flex-start;
  font-size: 40px;
  line-height: 1.2;
  padding: 0 10px;
}
