<div
  class="overlay"
  [class.visible]="visibility"
  (click)="onToggleFilters()"
></div>

<div class="filters" [class.visible]="visibility">
  <form
    #filterForm
    class="form"
    [formGroup]="form"
    autocomplete="off"
  >
    <div class="filter">
      <select name="type" class="select form-control input-sm" formControlName="type">
        <option value="" selected>Любой тип жилья</option>
        <option value="bungalo">Эконом-вариант</option>
        <option value="flat">Квартира</option>
        <option value="house">Дом</option>
      </select>
    </div>

    <div class="filter">
      <select name="price" class="select form-control input-sm" formControlName="price">
        <option value="" selected>Любая цена</option>
        <option value="low">до 10000&#x20bd;</option>
        <option value="middle">10000 - 50000&#x20bd;</option>
        <option value="high">от 50000&#x20bd;</option>
      </select>
    </div>

    <div class="filter">
      <select name="rooms" class="select form-control input-sm" formControlName="rooms">
        <option value="" selected>Любое число комнат</option>
        <option value="1">Одна комната</option>
        <option value="2">Две комнаты</option>
        <option value="3">Три комнаты</option>
      </select>
    </div>

    <div class="filter">
      <select name="guests" class="select form-control input-sm" formControlName="guests">
        <option value="" selected>Любое число гостей</option>
        <option value="1">Один гость</option>
        <option value="2">Два гостя</option>
        <option value="3">Три гостя</option>
      </select>
    </div>

    <fieldset class="features">
      <app-features
        [formGroup]="features"
      ></app-features>
    </fieldset>
  </form>

  <button
    class="btn-close close hidden-md hidden-lg"
    (click)="onToggleFilters()"
  >
    &times;
  </button>
</div>

<div class="container hidden-md hidden-lg">
  <button class="btn btn-default btn-toggle" (click)="onToggleFilters()">
    <i class="glyphicon glyphicon-filter"></i>
    <span class="btn-toggle__text">Фильтры</span>
  </button>
</div>

<div *ngIf="selectedFilters.length" class="selected-options container">
  <ul class="selected-filters">
    <li *ngFor="let filter of selectedFilters" class="selected-filters__item">
      <ul *ngIf="filter.keys && filter.length" class="selected-features">
        <li *ngFor="let feature of filter" [ngClass]="['feature', 'feature-sm', feature]">
          {{feature}}

          <button class="btn-remove-filter" (click)="onClearFeature(feature)">
            &times;
          </button>
        </li>
      </ul>

      <div *ngIf="!filter.keys" class="selected-filter btn btn-sm">
        {{filters[filter].text}}

        <button class="btn-remove-filter" (click)="onClearFilter(filter)">
          &times;
        </button>
      </div>
    </li>
  </ul>
</div>
