.feature {

  &:focus,
  &.active {
    background-color: #ff6547;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px #ffaa99;
  }

  &:active {
    background-color: #ff6547;
    box-shadow: none;
  }

  &__checkbox {
    width: auto;
  }
}
