%feature {
  background-image: url('../../../../../assets/img/sprite-feature.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 345px;
  font-size: 0;
  height: 28px;
  overflow: hidden;
  width: 30px;
}

.ads {
  list-style: none;
  margin: 30px auto;
  max-width: 960px;
}

.ad {
  background: #fff;
  margin: 15px 0;
  padding: 15px;
}

.card {

  &__header {
    display: flex;
    margin-bottom: 5px;
  }

  &__info {
    flex-grow: 1;
    margin-right: 15px;
  }

  &__avatar {
    bottom: 100%;
    left: 0;
    margin-bottom: 10px;
    position: absolute;
  }

  &__title {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    margin-right: 10px;
    width: 100%;
  }

  &__price {
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
  }

  &__type {
    font-weight: bold;
    margin-right: 15px;
  }

  &__text {
    margin: 0 0 10px;

    &--address {
      display: block;
    }
  }
}

.photos {
  display: flex;
  font-size: 0;
  list-style: none;
  margin: 15px 0;
  overflow: hidden;
  padding: 0;
}

.photo {
  margin-right: 5px;
  transition: all 0.5s;

  &:hover {
    border: 2px solid #ff5635;
  }
}

.features {
  display: flex;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}

.wifi {
  @extend %feature;

  background-position: 2px 5px;
}

.dishwasher {
  @extend %feature;

  background-position: 2px -25px;
}

.parking {
  @extend %feature;

  background-position: 3px -55px;
}

.washer {
  @extend %feature;

  background-position: 2px -85px;
}

.elevator {
  @extend %feature;

  background-position: 2px -143px;
}

.conditioner {
  @extend %feature;

  background-position: 3px -114px;
}
